#content{
    background-color:#5C5958;
}
p{
    margin: 0 2vw;
    font-size: 1.5vw;
    padding-top: 1vw;
}
header{
    height: 300px;
    
}
.bgVideo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-items: center;
}
.bgVideo video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}
h1 {
    font-size: 7vw;
    color: #ffffff;
    z-index: 3;
}
nav{
    width: 15%;
    background-color: #5C5958;
    float: left;
    color: #ffffff;
}
ul{
    list-style: none;
}
li{
    height: 20px;
    width: 80%;
    border:double 4px orange;
    text-align: center ;
    font-size: 1vw;
    margin-bottom: 20px;
    color: #fff;
}
a{
    text-decoration: none;
    color: black;
    color: #fff;
}
li:hover{
    background-color: lightgreen;
}
h2,h3{
    text-align: center;
    font-size: 3vw;
}
main{
    width: 70%;
    background-color:#DBD7D2;
    float: left;
}
aside{
    background-color: #5C5958;
    width: 15%;
    height: auto;
    float: left;
    
}
footer {   
    background-color: #909497;
    clear: both;

}
section{
    width: 80%;
    height: 200px;
    background-color: #48ff00;
    margin: 10px;
    display: block;
    text-align: center;
    margin: auto ;
    margin-top: 3px;
    margin-bottom: 3px;
}
article{
    width: 30%;
    background-color: #860000;
    color: antiquewhite;
    display: inline-block;
    margin: auto;
    margin: 4px;  
}
.Wolf_in_zoo img {
    width: 25vw;
}
 .Wolf_in_zoo figcaption {
    font-size: 20px;   
    color: black;
}
.Wolf_in_zoo {
    border: solid 1px gray;
    width: 25vw;
    padding: 20px;
    float: right;
    margin-left: 20px;
}
@media only screen and (max-width:620px) {
    nav,
    main,
    aside {
        width: 100%;
        }
    p{
        font-size: 4vw;
    }
    li{
        font-size: 3vw; ;
        } 
    figcaption{
        font-size: 4vw;
    }
}
span{
    margin-left: 3%;
}

/**buttons**/

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #860000;
    cursor: pointer;
    position: relative;
    margin: auto;
    z-index: 0;
    border-radius: 1vw;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10px;
    margin-bottom: 15px;
    width: 80%;
    
    display: block;
}
.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #bb0d0d;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.fa {
    padding: 20px;
    font-size: 1vw;
    width: 2vw;
    height:2vw;
    text-align: center;
    text-decoration: none;
    margin: 4px 5px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}

/**upstairs**/

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size:1vw;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 0.4vw solid;
    padding: 0.25em 0.5em;
    box-shadow:1px 1px 0px 0px,2px 2px 0px 0px,3px 3px 0px 0px,4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin:0 2% 2% 2%;
   
    }
.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}
@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}