body{
    background-image: url(https://i.pinimg.com/originals/46/d3/a6/46d3a66fadbacce9b4dffa96d0ff1f2c.gif);

    background-position: 100% 100%;
    background-attachment: fixed;    
    background-repeat: no-repeat;
    background-size: 400px;
}
p{
    font-size: 50px;
    color: gold;
    text-align: center;
    background-image: url(https://www.shutterstock.com/image-photo/pink-bright-texture-designer-background-260nw-1040229760.jpg);
    background-size: cover;
}
div{
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 20% 50%;
}
.im{
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-38_d0dbbfb4.jpeg);
    border: dotted 10px red;
}
.im1{
   
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(255,0,0,0.25)) ,url(https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-38_d0dbbfb4.jpeg);
    border-block:1em dashed red;
    writing-mode: vertical-rl;
}
.im2{
    background-image:url(https://images.unsplash.com/photo-1521846562476-9c2446539e47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80);
    border: 4mm ridge rgba(106, 255, 255, 0.6);
    image-rendering: auto;
}
.im3{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/004/290/398/small/abstract-futuristic-floor-with-hexagons-background-3d-rendering-free-photo.jpg);
    border-block: 1rem solid rgb(71, 29, 29);
    writing-mode: horizontal-tb;
    direction: rtl;
    image-rendering: auto;
}
img{
    width: 500px;
    margin: auto;
    display: block;
    border-radius: 40%;
    box-shadow: 30px 40px 50px grey;
    margin-bottom: 80px;
    image-rendering: auto;
}
.im4{
    border-radius: 40%;
    border:1em;
    border-bottom-style: groove;
    image-rendering: auto;
}
.im5{
    background-image: linear-gradient(rgba(139, 69, 19, 0.5),rgba(160, 81, 45, 0.5) ,rgba(30, 198, 210, 0.5)), url(img/eBfTY6rQaxU.jpg);
    width: 600px;
    height: 800px;
    margin: auto;
    display: block;
    border-radius: 40%;
    box-shadow: 30px 40px 50px grey;
    margin-bottom: 80px;
}
