@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body{
    background-color: #D3D3D3;
    color: #8B4513;
    
}
a{
    text-decoration: none;
    font-size: 3em;
}
h1{
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'Caveat', cursive;
}
p{
    text-align: justify;
    text-indent: 24px;
    line-height: 24px;
    word-spacing: 7px;
}
h2, h3{
    text-align: center;
    
}
.Wolf_in_zoo img{
    width: 320px;
}
.Wolf_in_zoo figcaption{
    font-size: 20px;
    background-color: #FFF6EA;
    color: black;
}
.Wolf_in_zoo{
    border: solid 1px gray;
    width: 320px;
    padding: 20px;
    float: right;
    margin-left: 20px;
}
.center{
    text-align: center;
}
.center img{
    width: 258px;
     height: 161px;
      
}
.marker{
    background-color: #F4A460;
    text-align: center;
}
ul{
    line-height: 24px;
    padding:0 45px;
    line-height: 1.6;
}
h3{
    color: brown;
} 
table{
    background-color: #778899;
    color: #F5DEB3;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}
tr,td {
    border: double 1px black;
    padding: 20px;
}
span{
    color: #696969;
}
  
  
