ul, ol, dl{
    font-size: 25px;
    color: rgb(141, 0, 0);
    margin-inline-start: 100px;
}
ul li::marker{
    color: blue;
    
}
.mr li{
    padding: 10px;
}
@counter-style circled-digits {
    system: cyclic;
    symbols: 😀 👻 🥳 👾 🤖 🎃 😹 👋 👀 💤;
    suffix: " ";
  }
  
ul.cd {
    list-style: circled-digits;
}