@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body{
    background-color: darkgray;
    text-align: center;
    font-family: 'Caveat', cursive;
}
p{
    font-size: 45px;
    color: gold;
    text-shadow: rgb(38, 37, 32) 3px 0 10px;
   
}
.fs1{
    text-transform: capitalize;
}
.fs2{
    font-weight:900;
    font-variant: small-caps;
}
.fs3{
    font-style: oblique;
}
.fs4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    word-spacing: 9px;
}
.fs5{
    font-family: 'Marck Script', cursive;
    letter-spacing: 15px;
}
.f1{
    text-decoration: underline;
    text-underline-position:under;
    text-decoration-color: lawngreen;
    color: rgb(143, 96, 34);
}
.f2{
    text-decoration:dotted underline overline;
    text-underline-position:under;
    text-decoration-color: lawngreen;
}
.f3{
    text-shadow: 2px -2px orange;
}
.f4{
    text-shadow: 4px 8px rgb(190, 248, 255);
}
.f5{
    text-shadow: 10px -2px rgb(18, 61, 29);
}
.fl1{
    font-size: 1em;
    font-weight: 700;
    font-family: 'Marck Script', cursive;
    font-family: 'Rubik Iso', cursive;
    text-shadow: 5px -5px #4f5b0cd1;
   
}
.fl2{
    font-size: 2em;
    font-weight: 700;
    font-family: 'Marck Script', cursive;
    font-family: 'Rubik Iso', cursive;
    text-shadow: 5px -5px #24ff36;
   
}
.fl3{
    text-decoration: none;
    text-transform: none;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Marck Script', cursive;
    font-family: 'Rubik Iso', cursive;
    text-shadow: 5px -5px #24ffff;
    
}
.n1{
    text-emphasis: filled double-circle rgb(72, 56, 88);
    text-emphasis-position: over right;
    writing-mode: vertical-rl;
}
.n2{
    text-emphasis: filled double-circle rgb(192, 199, 165);
}
.n3{
    text-emphasis: filled double-circle rgb(197, 238, 247);
    text-emphasis-style: "foo";
}
